<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/app :: layout(~{::title}, ~{::#content})}">
<head>
    <title>登录</title>
</head>
<body>
<div id="content">
    <div class="max-w-2xl flex mx-auto my-32 bg-gray-900 shadow-lg rounded-lg">
        <div class="w-1/2 rounded-tl-lg rounded-bl-lg">
            <img src="/assets/images/login-banner.jpg" class="object-cover object-center w-full h-full rounded-tl-lg rounded-bl-lg">
        </div>
        <div class="w-1/2 px-10">
            <h2 class="text-center text-indigo-500 text-3xl py-10">登录</h2>
            <form th:action="@{${router.LOGIN}}" method="post">
                <div class="py-2">
                    <input type="email" placeholder="邮箱" name="email" required class="w-full p-2 my-1 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800">
                </div>
                <div class="py-2">
                    <input type="password" placeholder="密码" name="password" required class="w-full p-2 my-1 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800">
                </div>
                <div class="py-2 text-gray-500">
                    <label><input type="checkbox" name="remember_me" value="1"> 记住我</label>
                </div>
                <div class="py-2">
                    <button type="submit" class="block w-full pt-2 pb-2 text-gray-500 border-2 border-gray-700 rounded-lg hover:bg-gray-700 hover:border-gray-600">登录</button>
                </div>
                <div class="py-2 text-center text-gray-500">
                    <a href="#" class="mr-3"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" class="mr-3"><i class="fa fa-qq" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a>
                </div>
                <div class="py-2 text-center">
                    <a th:href="@{${router.REGISTER}}" class="text-gray-500">注册</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>