<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/app :: layout(~{::title}, ~{::#content})}">
<head>
    <title>登录</title>
</head>
<body>
<div id="content">
    <form th:action="@{/auth/login}" method="post">
        <div class="form-group">
            <label>邮箱</label>
            <input type="email" class="form-control" name="email" placeholder="请输入邮箱">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">登录</button>
        </div>
    </form>
</div>
</body>
</html>