<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/app :: layout(~{::title}, ~{::#content})}">
<head>
    <title>注册 - JBlog</title>
</head>
<body>
<div id="content">
    <div class="max-w-2xl flex mx-auto my-32 bg-gray-900 shadow-lg rounded-lg">
        <div class="w-1/2 rounded-tl-lg rounded-bl-lg">
            <img src="/assets/images/login-banner.jpg" class="object-cover object-center w-full h-full rounded-tl-lg rounded-bl-lg">
        </div>
        <div class="w-1/2 px-10">
            <h2 class="text-center text-indigo-500 text-3xl py-10">注册</h2>
            <form th:action="@{${router.REGISTER}}" method="post">
                <div class="py-2">
                    <input type="email" placeholder="邮箱" name="email" required class="inline-block w-full h-10 px-5 py-1 border-2 border-gray-400 bg-gray-500 rounded-lg focus:outline-none">
                </div>
                <div class="py-2">
                    <input type="text" placeholder="昵称" name="nickname" required class="inline-block w-full h-10 px-5 py-1 border-2 border-gray-400 bg-gray-500 rounded-lg focus:outline-none">
                </div>
                <div class="py-2">
                    <input type="password" placeholder="密码" name="password" required class="inline-block w-full h-10 px-5 py-1 border-2 border-gray-400 bg-gray-500 rounded-lg focus:outline-none">
                </div>
                <div class="py-2">
                    <input type="password" placeholder="再输入一次密码" name="password_confirmation" required class="inline-block w-full h-10 px-5 py-1 border-2 border-gray-400 bg-gray-500 rounded-lg focus:outline-none">
                </div>
                <div class="py-2">
                    <button type="submit" class="w-full h-10 bg-gray-700 py-2 rounded-lg mt-3 mb-3 hover:bg-gray-600 focus:outline-none">注册</button>
                </div>
                <div class="py-2 text-center">
                    <a th:href="@{${router.LOGIN}}" class="text-gray-500">登录</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>