<!doctype html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" integrity="sha384-OYF2qVjT+uoSm9C9s2RPqTw+8yyXYIylhAXea/DdhadXUSYpHfqQm+iq/IznjlF6" href="https://lib.baomitu.com/wangEditor/3.1.1/wangEditor.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <title th:replace="${title}">JBlog</title>
</head>
<body class="bg-gray-800 min-h-screen">

    <header class="px-10 py-2 bg-gray-900 shadow-xl">
        <div class="max-w-2xl mx-auto flex md:flex-row sm:flex-col">
            <div class="md:flex-initial">
                <span class="text-indigo-500 font-mono text-4xl">JBlog</span>
            </div>
            <div class="md:w-full pl-5">
                <ul class="pt-4">
                    <li class="float-left pr-5 ml-3 mr-3">
                        <a class="text-indigo-500" th:href="@{/}">
                            <i class="fa fa-dashboard mr-1"></i> 首页
                        </a>
                    </li>
                    <li class="float-left pr-5 ml-3 mr-3">
                        <a class="text-gray-500 float-right" th:href="@{${router.TAG_INDEX}}"><i class="fa fa-tag mr-1"></i> 全部标签</a>
                    </li>
                </ul>
            </div>
            <div class="md:flex-initial pt-4">
                <a th:if="${userService.getUser()}" th:href="@{${router.HOME}}" class="float-right text-gray-500 w-16"><i class="fa fa-user mr-1"></i>[[${userService.getUser().getNickname()}]]</a>
                <a th:unless="${userService.getUser()}" th:href="@{${router.LOGIN}}" class="float-right text-gray-500 w-16"><i class="fa fa-user-o mr-1"></i>登录</a>
            </div>
        </div>
    </header>

    <div th:if="${error}" class="max-w-2xl mx-auto bg-red-800 border-2 border-red-900 rounded-lg px-2 my-2 text-white py-3">
        <p><i class="fa fa-exclamation-triangle mr-1"></i>[[${error}]]</p>
    </div>
    <div th:if="${success}" class="max-w-2xl mx-auto bg-green-800 border-2 border-green-900 rounded-lg px-2 my-2 text-white py-3">
        <p><i class="fa fa-check-square mr-1"></i>[[${success}]]</p>
    </div>
    <div th:if="${shiroLoginFailure}" class="max-w-2xl mx-auto bg-orange-800 border-2 border-orange-900 rounded-lg px-2 my-2 text-white py-3">
        <p><i class="fa fa-info-circle mr-1"></i>[[${shiroLoginFailure}]]</p>
    </div>

    <div th:replace="${content}"></div>

    <div class="clearfix"></div>
    <footer class="bg-gray-900">
        <div class="max-w-2xl mx-auto py-2 flex flex-row text-sm text-gray-700">
            <div class="flex-1">
                <p>Copyright JBlog.</p>
            </div>
            <div class="flex-1 text-right">
                <a href="https://github.com/Qsnh/jblog" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>

    <script crossorigin="anonymous" integrity="sha384-uOV94oddoQmmdQhRtBPzXMX7CBxGVw888Cp9gjgRspAq/go5oea3c+cS8OlY+N6C" src="https://lib.baomitu.com/wangEditor/3.1.1/wangEditor.min.js"></script>
    <script src="/assets/js/laydate.js"></script>
</body>
</html>