<!doctype html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">首页</a></li>
        </ul>
    </nav>

    <div th:if="${error}">
        <div class="alert alert-danger">[[${error}]]</div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-danger">[[${success}]]</div>
    </div>

    <div th:replace="${content}"></div>

    <footer>
        <p>Copyright jblog.</p>
    </footer>
</body>
</html>