<div th:fragment="image_captcha">
    <div class="py-2 flex flex-row">
        <div class="flex-1">
            <input type="text" placeholder="验证码" name="image_captcha" required class="w-full p-2 my-1 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800">
        </div>
        <div class="flex-2">
            <img th:src="@{${router.CAPTCHA_IMAGE}}" class="rounded-lg p-2" style="width: 120px;" alt="点击更换验证码" onclick="$(this).attr('src', $(this).attr('src')+'?t='+Math.random());">
        </div>
    </div>
</div>