<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoteng.blog.mappers.UserMapper">

    <sql id="userColumns">id,email,nickname,avatar,created_at,last_login_at,password,github,qq,weibo,intro</sql>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `users` (`email`,`nickname`,`avatar`,`password`,`status`) values
        (#{email},#{nickname},#{avatar},#{password},#{status})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultType="User">
        SELECT
        <include refid="userColumns" />
        from users where id = #{id}
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultType="User">
        SELECT
        <include refid="userColumns" />
        from users where email = #{email}
    </select>

    <select id="findByNickname" parameterType="java.lang.String" resultType="User">
        SELECT
        <include refid="userColumns" />
        from users where nickname = #{nickname}
    </select>

    <update id="updatePassword" parameterType="User">
        UPDATE users set password = #{password} where id = #{id}
    </update>

    <update id="updatePro" parameterType="User">
        UPDATE users set github = #{github},weibo = #{weibo}, qq = #{qq}, intro = #{intro} where id = #{id}
    </update>

</mapper>