<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/app :: layout(~{::title}, ~{::#content})}">
<head>
    <title>修改密码</title>
</head>
<body>
<div id="content">
    <div class="max-w-2xl mx-auto mt-5 mb-5">
        <div th:insert="/components/user_header :: user_header"></div>

        <div class="max-w-xs mx-auto mb-24">
            <div class="pt-10">
                <form th:action="@{${router.HOME_CHANGE_PASSWORD}}" method="post">
                    <div>
                        <input type="password" name="old_password" placeholder="原密码" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-600 rounded-lg focus:outline-none">
                    </div>
                    <div>
                        <input type="password" name="new_password" placeholder="新密码" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-600 rounded-lg focus:outline-none">
                    </div>
                    <div>
                        <input type="password" name="new_password_confirmation" placeholder="再输入一次" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-600 rounded-lg focus:outline-none">
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="block w-full pt-2 pb-2 text-gray-500 border-2 border-gray-700 rounded-lg hover:bg-gray-700 hover:border-gray-600">确认修改</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>