<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/app :: layout(~{::title}, ~{::#content})}">
<head>
    <title>修改资料</title>
</head>
<body>
<div id="content">
    <div class="max-w-2xl mx-auto mt-5 mb-5">
        <div th:insert="/components/user_header :: user_header"></div>

        <div class="max-w-xs mx-auto mb-24">
            <div class="pt-10">
                <form th:action="@{${router.HOME_PROFILE}}" method="post">
                    <div>
                        <input type="text" th:value="${user.getGithub()}" required
                               name="github" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800" placeholder="Github">
                    </div>
                    <div>
                        <input type="text" th:value="${user.getWeibo()}" required
                               name="weibo" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800" placeholder="微博">
                    </div>
                    <div>
                        <input type="text" th:value="${user.getQq()}" required
                               name="qq" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800" placeholder="QQ">
                    </div>
                    <div>
                        <textarea name="intro" required placeholder="个人简介" class="w-full p-2 mt-2 mb-2 bg-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none text-gray-800 placeholder-gray-800" rows="4">[[${user.getIntro()}]]</textarea>
                        <p class="text-sm text-gray-600"><i class="fa fa-info mr-1"></i>支持markdown语法哦</p>
                    </div>
                    <div th:insert="/components/image_captcha :: image_captcha"></div>
                    <div class="mt-8">
                        <button type="submit" class="block w-full py-2 text-gray-500 border-2 border-gray-700 rounded-lg hover:bg-gray-700 hover:border-gray-600">确认修改</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>